cloud-data-mig/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "cloud-data-mig"
		},
		"ls_db_mig_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_db_mig'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/00_mig')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Parent Pipline",
				"activities": [
					{
						"name": "prepare",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01_prepare",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@pipeline().parameters.UID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "extract",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "prepare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "02_extract",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@pipeline().parameters.UID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "transform",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "extract",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "03_transform",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@pipeline().parameters.UID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "04_load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@pipeline().parameters.UID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "transmit",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "05_transmit",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@pipeline().parameters.UID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "persist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "transmit",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "06_presist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@pipeline().parameters.UID",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01_prepare')]",
				"[concat(variables('factoryId'), '/pipelines/02_extract')]",
				"[concat(variables('factoryId'), '/pipelines/03_transform')]",
				"[concat(variables('factoryId'), '/pipelines/04_load')]",
				"[concat(variables('factoryId'), '/pipelines/05_transmit')]",
				"[concat(variables('factoryId'), '/pipelines/06_presist')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_prepare')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child Pipeline",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/02_extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child Pipeline",
				"activities": [
					{
						"name": "get_extract_tables_list",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[getTableList]",
							"storedProcedureParameters": {
								"SchemaName": {
									"value": "extract",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_db_mig",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "load_tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_extract_tables_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_extract_tables_list').output",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_db_mig')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/03_transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child Pipeline",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/04_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child Pipeline",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/05_transmit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child Pipeline",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/06_presist')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child Pipeline",
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cloud-data-mig')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Master pipeline",
				"activities": [
					{
						"name": "set_uid",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "UID",
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "run_migration",
						"description": "Run Parent Pipline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "set_uid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_mig",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"UID": {
									"value": "@variables('UID')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "raise_error",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "run_migration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"UID": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/00_mig')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_db_mig')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_db_mig_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}