datafactory/pipeline/02_extract.json
{
	"name": "02_extract",
	"properties": {
		"description": "Child Pipeline",
		"activities": [
			{
				"name": "get_extract_tables_list",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[getTableList]",
					"storedProcedureParameters": {
						"SchemaName": {
							"value": "extract",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_db_mig",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "load_tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_extract_tables_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_extract_tables_list').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@{item().TABLE_NAME}",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"UID": {
				"type": "string"
			}
		},
		"annotations": []
	}
}