datafactory/pipeline/cloud-data-mig.json
{
	"name": "cloud-data-mig",
	"properties": {
		"description": "Master pipeline",
		"activities": [
			{
				"name": "SET_UID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "UID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RUN_MIGRATION",
				"description": "Run Parent Pipline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SET_UID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "00_mig",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"UID": {
							"value": "@variables('UID')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"UID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}